:root {
  --p1-color: rgb(22, 195, 146);
  --p2-color: rgb(4, 73, 98);
  --nb-color: rgb(239, 240, 240);
  --nm-color: rgb(174, 173, 174);
  --nd-color: rgb(5, 5, 23);
}

body {
  margin: 0%;
  background-color: var(--nb-color);
  color: var(--p2-color);
}
h1 {
  font-family: 'Fredoka One', serif;
  font-size: 180%;
}
h2 {
  font-family: 'Fredoka One', serif;
  font-weight: lighter;
}
input {
  border-style: none;
  margin: 1vh 1vw;
}
button {
  font-family: 'Fredoka One', serif;
  border-style: none;
  border-radius: 20px;
  background-color: var(--p1-color);
  padding: 2pt 4pt;
  margin: 1vh 1vw;
  color: var(--nb-color);
}

/* general styling of all forms (login register addPhotospot) */
.formContainer {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 16px;
  text-align: center;
  width: fit-content;
  height: max-content;
  margin: 2vh 1vw;
}
.form {
  display: flex;
  flex-direction: column;
}
.formTitle {
  font-size: 3vw;
}
.formInputLabel {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-width: max-content;
  align-self: center;
}

.formSubmitBtn {
  font-size: larger;
  font-weight: bold;
  padding: 1vh 4vw;
}

a {
  color: var(--p1-color);
}

@media (max-width: 750px) {
  .hideMe {
    display: none;
  }
}
