:root {
  --p1-color: rgb(219, 22, 47);
  --p2-color: rgb(4, 73, 98);
  --nb-color: rgb(239, 240, 240);
  --nm-color: rgb(174, 173, 174);
  --nd-color: rgb(5, 5, 23);
}

body {
  margin: 0%;
  background-color: var(--nb-color);
  color: var(--p2-color);
}
input {
  border-style: none;
  margin: 1vh 1vw;
}
button {
  border-style: none;
  border-radius: 20px;
  background-color: var(--p1-color);
  padding: 2pt 4pt;
  margin: 1vh 1vw;
  color: var(--nb-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin: 0.5vh 1vw;
  background-color: var(--p2-color);
  color: var(--nb-color);
}

.Mainpage {
  display: flex;
  justify-content: space-between;
}
.mapContainer {
  height: 40vh;
  border-radius: 16px;
  border-style: solid;
  margin: 2vh 2vw;
}
.formContainer {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 16px;
  text-align: center;
  width: max-content;
  height: max-content;
  margin: 2vh 2vw;
}

.form {
  display: flex;
  flex-direction: column;
}
.formInputLabel {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
}
.formInputProposal {
  list-style: none;
  align-self: flex-start;
  text-align: start;
  padding-left: 0%;
  margin: 0%;
}
.formInputProposalBTN {
  background-color: var(--nm-color);
  margin: 0.4vh 1vw;
  border-radius: 5px;
}

.toggleLogin {
  color: var(--p1-color);
  margin-top: 0%;
  margin-bottom: 2.5vh;
  font-size: small;
}
.imgInput {
  display: none;
  width: min-content;
}
.fakeImgInput {
  width: fit-content;
  border-style: none;
  border-radius: 20px;
  background-color: var(--p1-color);
  font-size: smaller;
  padding: 2pt 4pt;
  margin: 1vh 1vw;
  color: var(--nb-color);
  align-self: center;
}

.photospotsListElement {
  list-style: none;
  padding-left: 0%;
  margin: 2vh 2vw;
  width: fit-content;
  margin: 1vw;
}

.photospot {
  border-style: solid;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  width: 80vw;
  max-width: 800px;
  margin-bottom: 2vh;
}
.photospotImage {
  border-radius: 20px;
  margin: 1vh 0.5vw;
  object-fit: cover;
  height: 20vh;
  width: 20vh;
}
.photospotInfoContainer {
  margin: 0.9vh 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photospotInfoTitle {
  margin-top: 0vh;
}
.photosptInfoAddress {
  justify-self: flex-start;
  margin: 0%;
}

.marker {
  background-color: var(--nd-color);
  mask-image: url('../public/Pin_Solid.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 2vh;
  width: 2vh;
}
.userPosMarker {
  background-color: var(--p1-color);
  mask-image: url('../public/Pin_Solid.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 2vh;
  width: 2vh;
}

.searchbar {
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 10px;
  margin-top: 2.5vh;
  padding: 0.5vh;
}
