.photospotsListElement {
  list-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 0vh 2vw 2vh 1vw;
  padding-left: 0%;
  padding-top: 2vh;
  width: 80vw;
  min-width: fit-content;
  max-height: 100vh;
}
.photospotsListElement::-webkit-scrollbar {
  display: none;
}

.photospot {
  display: flex;
  margin-bottom: 2vh;
  border-style: solid;
  border-radius: 20px;
  width: 70vw;
  max-width: 800px;
}

.photospotImage {
  object-fit: cover;
  margin: 1vh 0.5vw;
  border-radius: 20px;
  height: 20vh;
  width: 20vh;
}
.photospotInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.9vh 0.5vw;
  width: 100%;
}
.photospotInfoTitle {
  margin-top: 0vh;
}
.usernameSmall {
  font-family: 'Fredoka One', serif;
  font-weight: lighter;
  margin: 0.6vh 1vw 0vh 2vw;
}
.photospotBottomLine {
  display: flex;
  justify-content: space-between;
}
.photosptInfoAddress {
  justify-self: flex-start;
  align-self: flex-end;
  margin: 0%;
  margin-bottom: 0.4vh;
}

.pinBtn {
  background-color: var(--nb-color);
  margin: 0%;
}
.pin {
  background-color: transparent;
  overflow: visible;
  fill: none;
  stroke: var(--p2-color);
  stroke-width: 50px;
  width: 3vh;
  height: 3vh;
}
.pinned {
  fill: var(--p2-color);
  stroke: var(--p2-color);
}
