.pinnedLocation {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0% 0vw 0vh 1vw;
  border-radius: 20px;
  border-style: solid;
  padding: 0%;
  width: 70vw;
  max-width: 800px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.pinnedLocation::-webkit-scrollbar {
  display: none;
}
.pinnedLocationImage {
  margin: 0.3vh 0.4vw;
  border-radius: 100%;
  border-style: solid;
  height: 5vh;
  width: 5vh;
}
.pinnedLocation :hover {
  border-radius: 18px;
}
